Repository Dlutsok/replyx-v2, changes with the owners that CODEOWNERS names for each.
All owners: @teamlead, @backend-team, @devops, @api-contract-agent, @security-team, @db-migrations-agent, @ai-optimization-agent, @worker-manager-agent, @rad-agent, @frontend-uiux-agent, @frontend-team, @ui-designer-agent

CODEOWNERS:

# ReplyX MVP 13 Code Owners
# Автоматическое назначение ревьюеров для изменений в коде
# Синхронизировано с реорганизованной структурой от 2025-08-27

# ===== ГЛОБАЛЬНЫЕ ПРАВИЛА =====
# По умолчанию все изменения требуют ревью от TeamLead
* @teamlead

# ===== BACKEND (Python/FastAPI) =====
backend/                           @backend-team @teamlead
backend/main.py                     @backend-team @teamlead
backend/requirements.txt            @backend-team @devops

# API эндпоинты
backend/api/                        @backend-team @api-contract-agent
backend/api/*.py                    @backend-team @api-contract-agent

# Основные сервисы
backend/services/                   @backend-team 
backend/core/                       @backend-team @security-team
backend/database/                   @backend-team @db-migrations-agent
backend/ai/                         @backend-team @ai-optimization-agent

# Безопасность и валидация  
backend/security/                   @security-team @teamlead
backend/validators/                 @backend-team @security-team
backend/core/auth.py                @security-team @teamlead
backend/core/csrf_protection.py     @security-team @teamlead

# ===== WORKERS (Node.js) =====
# Новая структура workers после реорганизации
workers/                            @worker-manager-agent @backend-team
workers/master/                     @worker-manager-agent @backend-team  
workers/telegram/                   @worker-manager-agent @backend-team
workers/package.json                @worker-manager-agent @devops
workers/config/                     @worker-manager-agent @backend-team
workers/services/                   @worker-manager-agent @backend-team
workers/scripts/                    @worker-manager-agent @devops

# ===== DATABASE =====
backend/alembic/                    @db-migrations-agent @backend-team
backend/alembic/versions/           @db-migrations-agent @backend-team
backend/database/models.py          @db-migrations-agent @backend-team
backend/database/schemas.py         @api-contract-agent @backend-team
backend/alembic.ini                 @db-migrations-agent @devops

# Новая миграция widget_version
backend/alembic/versions/a1b2c3d4e5f6_add_widget_version_to_assistants.py @db-migrations-agent @backend-team @teamlead

# ===== SCRIPTS & TOOLS =====
scripts/                           @devops @teamlead
scripts/agent-lint.sh              @rad-agent @devops  
scripts/gen_openapi.sh             @api-contract-agent @devops
scripts/admin/                     @devops @security-team
backend/scripts/                   @devops @backend-team

# ===== FRONTEND (Next.js/React) =====
frontend/                          @frontend-uiux-agent @frontend-team
frontend/package.json              @frontend-team @devops
frontend/pages/                    @frontend-uiux-agent @ui-designer-agent
frontend/components/               @frontend-uiux-agent @ui-designer-agent  
frontend/styles/                   @ui-designer-agent @frontend-team

# WebSocket и Real-time компоненты
frontend/pages/chat-iframe.js      @frontend-uiux-agent @rad-agent @backend-team
frontend/public/widget.js          @frontend-uiux-agent @rad-agent @backend-team
frontend/config/api.js             @frontend-uiux-agent @devops @backend-team

# Admin панель
frontend/pages/admin*              @frontend-uiux-agent @security-team
frontend/components/admin/         @frontend-uiux-agent @security-team

# UI компоненты и дизайн
frontend/components/ui/            @ui-designer-agent @frontend-team
frontend/styles/design-tokens.css  @ui-designer-agent @frontend-team
frontend/constants/designSystem.js @ui-designer-agent @frontend-team

# ===== ДОКУМЕНТАЦИЯ =====
docs/                              @rad-agent @teamlead
docs/architecture/                 @rad-agent @teamlead  
docs/api/                          @api-contract-agent @rad-agent
docs/db/                           @db-migrations-agent @rad-agent
docs/realtime/                     @rad-agent @backend-team
docs/runbooks/                     @rad-agent @devops

# Критические архитектурные документы
docs/architecture/overview.md      @rad-agent @teamlead
docs/architecture/service-catalog.md @rad-agent @teamlead
docs/adr/                          @rad-agent @teamlead

# Новые ADR после анализа кода
docs/adr/ADR-0024-websocket-reconnection-strategy.md @rad-agent @frontend-uiux-agent @teamlead
docs/adr/ADR-0025-api-url-configuration-strategy.md  @rad-agent @devops @teamlead

# UI/UX документация
docs/ui/                           @ui-designer-agent @rad-agent
docs/frontend/                     @frontend-uiux-agent @rad-agent

# ===== CI/CD & DEVOPS =====
.github/                           @devops @teamlead
.github/workflows/                 @devops @rad-agent
.github/workflows/agent-lint.yml   @rad-agent @devops
.gitignore                         @devops
.env*                              @devops @security-team

# ===== КОНФИГУРАЦИЯ =====
backend/core/app_config.py         @devops @backend-team
frontend/config/                   @devops @frontend-team
backend/monitoring/                @devops @backend-team

# ===== ОСОБЫЕ СЛУЧАИ =====
# Критические изменения требуют дополнительных ревьюеров
backend/main.py                    @teamlead @backend-team @devops
backend/database/models.py         @teamlead @db-migrations-agent @backend-team  
docs/architecture/overview.md      @teamlead @rad-agent

# Файлы безопасности
backend/core/auth.py               @security-team @teamlead @backend-team
backend/security/                  @security-team @teamlead
frontend/components/security/      @security-team @frontend-team

# OpenAPI схема (автогенерируется)
docs/api/openapi.json             @api-contract-agent @rad-agent

# ===== КОМАНДЫ И АГЕНТЫ =====
# Mapping команд на GitHub teams:
# @teamlead              - Team Lead (все критические решения)  
# @backend-team          - Backend разработчики
# @frontend-team         - Frontend разработчики
# @devops                - DevOps/Infrastructure
# @security-team         - Security специалисты

# Агенты (назначаются для автоматических проверок):
# @api-contract-agent    - API контракты и схемы
# @db-migrations-agent   - База данных и миграции  
# @frontend-uiux-agent   - Frontend и пользовательский опыт
# @ui-designer-agent     - UI компоненты и дизайн
# @worker-manager-agent  - Node.js воркеры и боты
# @ai-optimization-agent - AI интеграции и оптимизация
# @rad-agent            - Документация и архитектура
# @qa-tester-agent      - Тестирование и качество

«ошибкADB»
  backend/services/websocket_manager.py
  docs/troubleshooting/unsolved-problem-2025-09-05.md
  docs/troubleshooting/websocket-widget-issues.md
Owners: @backend-team, @rad-agent, @teamlead

«ошибкADB2»
  backend/api/site.py
  frontend/pages/chat-iframe.js
Owners: @backend-team, @api-contract-agent, @frontend-uiux-agent, @rad-agent

«Исправление-тестов»
  backend/services/websocket_manager.py
  backend/tests/test_realtime_api.py
  backend/tests/test_websocket_critical_fixes.py
  backend/tests/test_websocket_integration.py
  scripts/validate-websocket-fixes.py
Owners: @backend-team, @teamlead, @devops

«Исправление-webSocket2»
  .github/workflows/websocket-stability-guard.yml
Owners: @devops, @rad-agent

«Исправление-websocket4»
  .github/workflows/websocket-stability-guard.yml
  backend/conftest.py
  reports/critical_tests.xml
Owners: @devops, @rad-agent, @backend-team, @teamlead

«Исправление-websocket5»
  backend/api/site.py
  backend/core/app_config.py
  backend/debug_admin_websocket.py
  backend/fix_user_message_delivery.py
  backend/services/websocket_manager.py
  backend/tests/test_iframe_domain_validation.py
  docs/deployment/manual-verification-checklist.md
  docs/deployment/websocket-iframe-config.md
  docs/monitoring/websocket-4003-monitoring.md
  docs/troubleshooting/user-messages-not-reaching-admin.md
  frontend/pages/chat-iframe.js
Owners: @backend-team, @api-contract-agent, @devops, @teamlead, @rad-agent, @frontend-uiux-agent

«Исправление-websocket6»
  backend/api/debug_websocket.py
  backend/api/dialogs.py
  backend/api/site.py
  backend/main.py
  backend/services/websocket_manager.py
  docs/troubleshooting/websocket-connection-race-fix.md
Owners: @backend-team, @api-contract-agent, @teamlead, @devops, @rad-agent

Выделил WebSocket в отдельный контейнер ws-gateway
  .github/workflows/deploy.yml
  Deployed/docker-compose.yml
  Deployed/nginx/nginx.conf
  backend/services/websocket_manager.py
  backend/ws_main.py
  docs/websocket-gateway-migration.md
  docs/ws-gateway-deployment.md
  scripts/check_ws_gateway_architecture.sh
  timeweb_deploy.sh
Owners: @devops, @rad-agent, @teamlead, @backend-team

«Исправление-webSocket2»
  Deployed/docker-compose.yml
  Deployed/nginx/nginx.conf
  Deployed/nginx/nginx_minimal.conf
  backend/api/bots.py
  backend/api/dialogs.py
  backend/api/site.py
  backend/api/support.py
  backend/api/system.py
  backend/main.py
  backend/services/events_pubsub.py
  backend/services/websocket_manager.py
Owners: @teamlead, @backend-team, @api-contract-agent, @devops

«Исправление-webSocket13»
  Deployed/docker-compose.yml
  Deployed/nginx/nginx.conf
  backend/api/assistants.py
  frontend/next.config.js
  frontend/pages/chat-iframe.js
  frontend/public/test_widget.html
Owners: @teamlead, @backend-team, @api-contract-agent, @frontend-uiux-agent, @frontend-team, @rad-agent

«Исправление-webSocket13»
  Deployed/docker-compose.yml
  Deployed/nginx/nginx.conf
  WEBSOCKET_TO_SSE_MIGRATION_PLAN.md
  backend/README.md
  backend/api/bots.py
  backend/api/debug_sse.py
  backend/api/dialogs.py
  backend/api/site.py
  backend/api/sse.py
  backend/api/websockets.py
  backend/main.py
  backend/services/sse_manager.py
  backend/services/sse_service.py
  backend/services/websocket_manager.py
  docs/realtime/sse-architecture.md
  docs/realtime/websockets.md
  frontend/pages/chat-iframe.js
  nginx-sse.conf
  test-results.md
Owners: @teamlead, @backend-team, @api-contract-agent, @devops, @rad-agent, @frontend-uiux-agent

fix: resolve websocket_manager imports and SSE auth issues
  Deployed/nginx/nginx.conf
  backend/api/system.py
  backend/services/handoff_service.py
  backend/services/sse_manager.py
Owners: @teamlead, @backend-team, @api-contract-agent

fix: complete websocket_manager imports removal
  backend/api/site.py
  backend/fix_user_message_delivery.py
Owners: @backend-team, @api-contract-agent, @teamlead

fix: add backward compatibility to get_sse_stats
  backend/services/sse_manager.py
Owners: @backend-team

feat: migrate AdminPanel DialogModal from WebSocket to SSE
  frontend/components/dialogs/DialogModal.js
Owners: @frontend-uiux-agent, @ui-designer-agent

🔧 Fix Redis Streams replay error in SSE manager
  backend/services/sse_manager.py
Owners: @backend-team

🔧 Fix nginx SSE config for site/widget endpoints
  Deployed/nginx/nginx.conf
Owners: @teamlead

🐛 Fix missing import for broadcast_dialog_message
  backend/api/site.py
Owners: @backend-team, @api-contract-agent

🐛 Add debug logging for SSE connection stability
  backend/services/sse_manager.py
Owners: @backend-team

🐛 Fix SSE message processing in widget iframe
  frontend/pages/chat-iframe.js
Owners: @frontend-uiux-agent, @rad-agent, @backend-team

«Исправление-webSocket2»
  Deployed/nginx/nginx.conf
  backend/api/site.py
  frontend/pages/chat-iframe.js
Owners: @teamlead, @backend-team, @api-contract-agent, @frontend-uiux-agent, @rad-agent

«Исправление-webSocket2»
  backend/api/assistants.py
  backend/api/dialogs.py
  backend/api/site.py
  backend/services/sse_manager.py
  frontend/components/dialogs/DialogModal.js
  frontend/config/api.js
  frontend/middleware.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/api/dialogs/[...params].js
  frontend/pages/chat-iframe.js
  frontend/public/widget.js
Owners: @backend-team, @api-contract-agent, @frontend-uiux-agent, @ui-designer-agent, @devops, @frontend-team, @rad-agent
