Repository Dlutsok/replyx-v2, changes with the owners that CODEOWNERS names for each.
All owners: @teamlead, @backend-team, @devops, @api-contract-agent, @security-team, @db-migrations-agent, @ai-optimization-agent, @worker-manager-agent, @rad-agent, @frontend-uiux-agent, @frontend-team, @ui-designer-agent

Test production deployment setup
  .github/workflows/deploy.yml
  .github/workflows/security-scan.yml
  DEPLOYMENT_SUMMARY.md
  DEPLOY_README.md
  Deployed/README.md
  Deployed/TEST_GUIDE.md
  Deployed/docker-compose.yml
  Deployed/nginx/nginx.conf
  QUICK_DEPLOY_CHECKLIST.md
  STEP_BY_STEP_DEPLOYMENT.md
  TIMEWEB_QUICK_START.md
  TIMEWEB_SERVER_DEPLOYMENT.md
  backend/.dockerignore
  backend/.env.example
  backend/.env.production.example
  backend/core/app_config.py
  backend/core/secrets.py
  deploy.sh
  frontend/.dockerignore
  frontend/next.config.js
  replyx-widget-fix.tar.gz
  workers/.dockerignore
  workers/.env.example
  workers/Dockerfile
Owners: @devops, @rad-agent, @teamlead, @backend-team, @security-team, @frontend-uiux-agent, @frontend-team

Исправление CI/CD workflow и добавление структуры тестов
  .github/workflows/test-suite.yml
  Deployed/.env.test
  Deployed/docker-compose.yml
  tests/backend/ai/test_ai.py
  tests/backend/integration/test_database.py
  tests/backend/performance/load_tests.py
  tests/backend/requirements-test.txt
  tests/backend/security/test_security.py
  tests/backend/unit/test_api.py
  tests/e2e/basic.spec.js
  tests/e2e/package.json
  tests/e2e/playwright.config.js
  tests/frontend/components.test.js
  tests/frontend/jest.setup.js
  tests/frontend/package.json
Owners: @devops, @rad-agent, @security-team, @teamlead, @backend-team, @frontend-uiux-agent, @frontend-team

Исправление синтаксиса docker-compose.yml
  Deployed/docker-compose.yml
Owners: @teamlead

Обновление действий GitHub Actions до актуальных версий
  .github/workflows/test-suite.yml
Owners: @devops, @rad-agent

Критические исправления CI/CD workflows
  .github/workflows/agent-lint.yml
  .github/workflows/deploy.yml
  .github/workflows/security-scan.yml
Owners: @rad-agent, @devops

Исправление путей в agent-lint.yml
  .github/workflows/agent-lint.yml
Owners: @rad-agent, @devops

🔧 Update CI/CD: Modernize GitHub Actions and fix scripts
  .github/workflows/agent-lint.yml
  .github/workflows/deploy.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-suite.yml
  scripts/ops/agent-lint.sh
  scripts/ops/check_docs_currency.py
  scripts/ops/gen_openapi.sh
Owners: @rad-agent, @devops, @teamlead

🔧 Fix CI/CD workflow failures
  .github/workflows/deploy.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-suite.yml
  scripts/ops/agent-lint.sh
  tests/reports/backend/.gitkeep
  tests/reports/e2e/.gitkeep
  tests/reports/frontend/.gitkeep
  tests/reports/performance/.gitkeep
  tests/reports/security/.gitkeep
Owners: @devops, @rad-agent, @teamlead, @backend-team, @frontend-uiux-agent, @frontend-team

🛠 CI: harden workflows
  .github/workflows/agent-lint.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-suite.yml
Owners: @rad-agent, @devops

CI: make scans tolerant when Code Scanning disabled; ensure report dirs exist and artifacts always upload without failing
  .github/workflows/security-scan.yml
  .github/workflows/test-suite.yml
Owners: @devops, @rad-agent

CI: disable code scanning upload by default; upload SARIF only as artifacts to avoid failures when Code Scanning is off
  .github/workflows/security-scan.yml
Owners: @devops, @rad-agent

CI: avoid failing when Code Scanning is disabled; guard SARIF uploads and publish as artifacts; ensure report dirs exist
  .github/workflows/deploy.yml
Owners: @devops, @rad-agent

CI: stabilize failing jobs
  .github/workflows/agent-lint.yml
  .github/workflows/deploy.yml
  .github/workflows/test-suite.yml
Owners: @rad-agent, @devops

CI: fix YAML and expressions
  .github/workflows/agent-lint.yml
  .github/workflows/test-suite.yml
Owners: @rad-agent, @devops

CI: stabilize tests
  .github/workflows/test-suite.yml
Owners: @devops, @rad-agent

CI: do not fail on tests while stabilizing
  .github/workflows/test-suite.yml
Owners: @devops, @rad-agent

CI: skip frontend-tests when no tests/frontend/package.json; run e2e only if BE and FE succeeded
  .github/workflows/test-suite.yml
Owners: @devops, @rad-agent

feat: Добавлено версионирование на главную страницу (v2.0)
  frontend/components/landing/HeroContent.js
Owners: @frontend-uiux-agent, @ui-designer-agent

Test production
  DEPLOYMENT_INFRASTRUCTURE_ANALYSIS_REPORT.md
  Deployed/README.md
  backend/core/dynamic_csp_middleware.py
  frontend/components/landing/HeroContent.js
Owners: @teamlead, @backend-team, @security-team, @frontend-uiux-agent, @ui-designer-agent

«виджет»
  Deployed/.env.production
  Deployed/.env.test
  Deployed/nginx/nginx.conf
  backend/ai/ai_providers.py
  backend/alembic/versions/a1b2c3d4e5f6_add_widget_version_to_assistants.py
  backend/api/assistants.py
  backend/core/dynamic_csp_middleware.py
  backend/database/models.py
  backend/main.py
  docs/CSP_MIDDLEWARE_ARCHITECTURE.md
  docs/SECURITY_INFRASTRUCTURE_FIX_REPORT.md
  frontend/.env.production
  frontend/middleware.js
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/database-explorer.js
  frontend/public/widget.js
  workers/master/scalable_bot_manager.js
  workers/telegram/bot_worker.js
Owners: @devops, @security-team, @teamlead, @backend-team, @ai-optimization-agent, @db-migrations-agent, @api-contract-agent, @rad-agent, @frontend-uiux-agent, @frontend-team, @ui-designer-agent

«ошибкADB»
  .env.backup
  backend/core/app_config.py
  backend/database/connection.py
Owners: @devops, @security-team, @backend-team, @db-migrations-agent

fix: Add NEXT_PUBLIC_API_URL build arg to frontend Dockerfile
  frontend/Dockerfile
Owners: @frontend-uiux-agent, @frontend-team

исправление: заменить localhost:8000 на https://replyx.ru во всех fallback URL
  .env.backup
  backend/ai/ai_providers.py
  fix_alembic.py
  frontend/components/admin/TokenUsageModal.js
  frontend/components/dashboard/ActiveDialogs.js
  frontend/components/dashboard/RealtimeMetrics.js
  frontend/components/landing/FAQSection.js
  frontend/components/ui/WelcomeBonusNotification.js
  frontend/components/ui/WidgetSettingsModal.js
  frontend/config/api.js
  frontend/middleware.js
  frontend/pages/admin-ai-tokens.js
  frontend/pages/chat-iframe.js
  frontend/public/widget.js
  frontend/utils/smartProgressApi.js
Owners: @devops, @security-team, @backend-team, @ai-optimization-agent, @teamlead, @frontend-uiux-agent, @ui-designer-agent, @frontend-team

исправление: убрать hashFiles из условия if в GitHub Actions
  .github/workflows/test-suite.yml
Owners: @devops, @rad-agent

исправление: принудительно использовать HTTPS для API на replyx.ru
  frontend/config/api.js
Owners: @devops, @frontend-team

исправление: API_URL теперь использует resolveBaseUrl для принудительного HTTPS
  frontend/config/api.js
Owners: @devops, @frontend-team

Исправлена проблема с перерендерингом виджета каждые 2 секунды
  frontend/public/widget.js
Owners: @frontend-uiux-agent, @frontend-team

Исправлена работа API_URL в тестовой среде
  frontend/config/api.js
Owners: @devops, @frontend-team

CODEOWNERS:

# ReplyX MVP 13 Code Owners
# Автоматическое назначение ревьюеров для изменений в коде
# Синхронизировано с реорганизованной структурой от 2025-08-27

# ===== ГЛОБАЛЬНЫЕ ПРАВИЛА =====
# По умолчанию все изменения требуют ревью от TeamLead
* @teamlead

# ===== BACKEND (Python/FastAPI) =====
backend/                           @backend-team @teamlead
backend/main.py                     @backend-team @teamlead
backend/requirements.txt            @backend-team @devops

# API эндпоинты
backend/api/                        @backend-team @api-contract-agent
backend/api/*.py                    @backend-team @api-contract-agent

# Основные сервисы
backend/services/                   @backend-team 
backend/core/                       @backend-team @security-team
backend/database/                   @backend-team @db-migrations-agent
backend/ai/                         @backend-team @ai-optimization-agent

# Безопасность и валидация  
backend/security/                   @security-team @teamlead
backend/validators/                 @backend-team @security-team
backend/core/auth.py                @security-team @teamlead
backend/core/csrf_protection.py     @security-team @teamlead

# ===== WORKERS (Node.js) =====
# Новая структура workers после реорганизации
backend/workers/                    @worker-manager-agent @backend-team
backend/workers/master/             @worker-manager-agent @backend-team  
backend/workers/telegram/           @worker-manager-agent @backend-team
backend/workers/package.json        @worker-manager-agent @devops
backend/workers/config/             @worker-manager-agent @backend-team

# ===== DATABASE =====
backend/alembic/                    @db-migrations-agent @backend-team
backend/alembic/versions/           @db-migrations-agent @backend-team
backend/database/models.py          @db-migrations-agent @backend-team
backend/database/schemas.py         @api-contract-agent @backend-team
backend/alembic.ini                 @db-migrations-agent @devops

# ===== SCRIPTS & TOOLS =====
scripts/                           @devops @teamlead
scripts/agent-lint.sh              @rad-agent @devops  
scripts/gen_openapi.sh             @api-contract-agent @devops
scripts/admin/                     @devops @security-team
backend/scripts/                   @devops @backend-team

# ===== FRONTEND (Next.js/React) =====
frontend/                          @frontend-uiux-agent @frontend-team
frontend/package.json              @frontend-team @devops
frontend/pages/                    @frontend-uiux-agent @ui-designer-agent
frontend/components/               @frontend-uiux-agent @ui-designer-agent  
frontend/styles/                   @ui-designer-agent @frontend-team

# Admin панель
frontend/pages/admin*              @frontend-uiux-agent @security-team
frontend/components/admin/         @frontend-uiux-agent @security-team

# UI компоненты и дизайн
frontend/components/ui/            @ui-designer-agent @frontend-team
frontend/styles/design-tokens.css  @ui-designer-agent @frontend-team
frontend/constants/designSystem.js @ui-designer-agent @frontend-team

# ===== ДОКУМЕНТАЦИЯ =====
docs/                              @rad-agent @teamlead
docs/architecture/                 @rad-agent @teamlead  
docs/api/                          @api-contract-agent @rad-agent
docs/db/                           @db-migrations-agent @rad-agent
docs/realtime/                     @rad-agent @backend-team
docs/runbooks/                     @rad-agent @devops

# Критические архитектурные документы
docs/architecture/overview.md      @rad-agent @teamlead
docs/architecture/service-catalog.md @rad-agent @teamlead
docs/adr/                          @rad-agent @teamlead

# UI/UX документация
docs/ui/                           @ui-designer-agent @rad-agent
docs/frontend/                     @frontend-uiux-agent @rad-agent

# ===== CI/CD & DEVOPS =====
.github/                           @devops @teamlead
.github/workflows/                 @devops @rad-agent
.github/workflows/agent-lint.yml   @rad-agent @devops
.gitignore                         @devops
.env*                              @devops @security-team

# ===== КОНФИГУРАЦИЯ =====
backend/core/app_config.py         @devops @backend-team
frontend/config/                   @devops @frontend-team
backend/monitoring/                @devops @backend-team

# ===== ОСОБЫЕ СЛУЧАИ =====
# Критические изменения требуют дополнительных ревьюеров
backend/main.py                    @teamlead @backend-team @devops
backend/database/models.py         @teamlead @db-migrations-agent @backend-team  
docs/architecture/overview.md      @teamlead @rad-agent

# Файлы безопасности
backend/core/auth.py               @security-team @teamlead @backend-team
backend/security/                  @security-team @teamlead
frontend/components/security/      @security-team @frontend-team

# OpenAPI схема (автогенерируется)
docs/api/openapi.json             @api-contract-agent @rad-agent

# ===== КОМАНДЫ И АГЕНТЫ =====
# Mapping команд на GitHub teams:
# @teamlead              - Team Lead (все критические решения)  
# @backend-team          - Backend разработчики
# @frontend-team         - Frontend разработчики
# @devops                - DevOps/Infrastructure
# @security-team         - Security специалисты

# Агенты (назначаются для автоматических проверок):
# @api-contract-agent    - API контракты и схемы
# @db-migrations-agent   - База данных и миграции  
# @frontend-uiux-agent   - Frontend и пользовательский опыт
# @ui-designer-agent     - UI компоненты и дизайн
# @worker-manager-agent  - Node.js воркеры и боты
# @ai-optimization-agent - AI интеграции и оптимизация
# @rad-agent            - Документация и архитектура
# @qa-tester-agent      - Тестирование и качество
